# OSX system file
.DS_Store

# VS Code directory
.vscode/

# Binary, testcases and test output
bin/
lib/
cases/
build/
*.output

# CMake and make files
Makefile
CMakeCache.txt
*.cmake
CMakeFiles
install_manifest.txt

# Backup files
*.bk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
